@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}



body {
  background-color: #f0efef;
}

.lines {
  position: relative;
  left: 0;
  top: 0;
  margin-bottom: 60px;
  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -20px;
    width: 60px;
    height: 5px;
    background-color: #fbb533;
  }
}

#nprogress .bar {
  background: orange !important; /* Progress bar rangini to'q sariq qilamiz */
  box-shadow: 0px 2px 3px rgb(246, 171, 33);
}

/* Spinnerni o'chirish */
#nprogress .spinner {
  display: none !important; /* Spinnerni yashirish */
}

.active {
  position: relative;
  left: 0;
  top: 0;
  color: #fbb533;
  &::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: -6px;
    background-color: #ffb255;
    width: 100%;
    height: 2px;
    border-radius: 10px;
  }
}







